body {
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-family: cursive;
}

#title {
    font-size: 500%;
}

#form {
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 40%;
    margin-right: 40%;
    padding: 3%;
    border-style: solid ;
    border-color: red;
    #name {
        font-size: 150%;
    }
}

#result {
    font-size: 250%;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(7, 7, 7);
    color: white;
    text-align: center;
}
